html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  height: 25px;
  background-color: rgb(85, 85, 85);
}
body header {
  background-color: rgb(120, 120, 120);
  width: 100%;
  height: 100px;
}
body header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}
body header nav .icon {
  width: 20px;
  height: 20px;
}
body header nav .a {
  font-size: 20px;
  color: #ffffff;
}
body header nav .a1 {
  font-size: 20px;
  color: #ffffff;
}
body header nav .a:hover,
body header nav .a1:hover {
  transition: color 0.25s, color 0.5s;
  color: #4a4a4a;
}
body .s-1 .main-box {
  display: flex;
  justify-content: space-around;
}
body .s-1 .main-box .box {
  border-radius: 15px;
  background-color: rgb(136, 161, 153);
  margin-top: 75px;
  border: 1px solid rgb(0, 0, 0);
  width: 25%;
  height: 450px;
  overflow: hidden;
}
body .s-1 .main-box .box img {
  -o-object-fit: cover;
     object-fit: cover;
}
body .s-1 .main-box .box .text {
  margin-top: 10px;
  font-size: 20px;
  color: #000000;
  text-align: center;
}
body .s-1 .main-box .box .check_here {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .s-1 .main-box .box .check_here .check {
  border-radius: 10px;
  width: 50%;
  height: 40px;
}
body .s-1 .main-box .box .check_here .check:hover {
  transition: background-color 0.25s, color 0.5s;
  background-color: rgb(129, 129, 129);
  color: #ffffff;
}
body .s-2 .main-h1 {
  margin-top: 75px;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 50px;
  color: #000000;
}
body .s-2 .main-box {
  display: flex;
  justify-content: space-around;
}
body .s-2 .main-box .big-box {
  background-color: rgb(136, 161, 153);
  border-radius: 10px;
  border: 2px solid black;
  margin-top: 75px;
  width: 68%;
  height: 320px;
}
body .s-2 .main-box .min-box {
  background-color: rgb(136, 161, 153);
  border-radius: 10px;
  border: 2px solid black;
  margin-top: 75px;
  margin-left: -60px;
  width: 27%;
  height: 320px;
}
body .s-2 .main-box h1 {
  text-align: center;
  font-size: 20px;
  color: #000000;
}
body .s-2 .main-box p {
  text-align: center;
  margin-top: 5px;
}
body .s-2 .main-box .min-box2 {
  background-color: rgb(136, 161, 153);
  border-radius: 10px;
  border: 2px solid black;
  margin-top: 25px;
  width: 37%;
  height: 330px;
}
body .s-2 .main-box .big-box2 {
  background-color: rgb(136, 161, 153);
  border-radius: 10px;
  border: 2px solid black;
  margin-left: -60px;
  margin-top: 25px;
  width: 58%;
  height: 330px;
}
body footer {
  margin-top: 75px;
  background-color: rgb(120, 120, 120);
  width: 100%;
  height: 200px;
}
body footer div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body footer div .info {
  flex-direction: column;
  margin-top: 62.5px;
  width: 10%;
  height: 75px;
  border: #000000 solid 1px;
}
body footer div .info a {
  color: #000000;
}
body footer div .info a:hover {
  text-decoration: underline;
}
body .game-sec .vs {
  margin-top: 25px;
  display: flex;
}
body .game-sec .vs .game {
  border: 5px solid rgb(79, 79, 79);
  width: 50%;
}
body .game-sec .vs .VS {
  position: absolute;
  height: 75px;
  width: 75px;
  background-color: #ffffff;
  border-radius: 50%;
}
body .game-sec .vs .VS .vs-text {
  height: 75px;
  width: 75px;
  align-items: center;
}
body .game-sec .l-h {
  position: relative;
  margin-top: -440px;
  margin-left: 1075px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
body .game-sec .l-h .b1 {
  transition: background-color 0.25s, color 0.5s;
  transition: width 1.5s;
  border: 3px solid rgb(248, 51, 51);
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  font-size: large;
  height: 50px;
  width: 30%;
  margin-top: 20px;
}
body .game-sec .l-h .b2 {
  transition: background-color 0.25s, color 0.5s;
  transition: width 1.5s;
  border: 3px solid rgb(51, 255, 0);
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  font-size: large;
  height: 50px;
  width: 30%;
}
body .game-sec .l-h .b1:hover,
body .game-sec .l-h .b2:hover {
  background-color: rgb(134, 134, 252);
  color: #ffffff;
}
body .game-sec .l-h .b1:oncklick,
body .game-sec .l-h .b2:oncklick {
  width: 0%;
}/*# sourceMappingURL=global.css.map */